@import "../../variables.scss";

.entire-profile-page {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 7%;
}

.edit-profile-container {
  width: 100%;
  height: 100vh;
  font-family: $font;
  // background-image: url("../../Images/signup_background.png");
  // Ice OG pic below
  // background-image: url("https://images.unsplash.com/photo-1533421455827-883c3a23c031?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  // Snow image below
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400/8de07a78403049.5ca3db6e39bef.jpg");
  // opacity: 0.9;
  background-repeat: none;
  background-size: cover;
}

.edit-profile-header {
  // border: 1px solid red;
  font-size: 32px;
  color: $accent;
  margin-bottom: 12px;
  width: 100%;
  justify-content: center;
}

.profile-picture-pp-div {
  //   border: 1px solid red;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.profile-picture-pp {
  border-radius: 10px;
  max-width: 50vw;
  max-height: 50vh;
}

.profile-account-name {
  // border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  margin-bottom: 40px;
}

.all-profile-info {
  //   border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
}

.profile-left-side {
  //   border: 1px solid blue;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-right-side {
  //   border: 1px solid blue;
  width: 30%;
  align-items: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.button-div {
  // border: 1px solid red;
  display: flex;
  border: 1px solid red;
  width: 100%;
}

.edit-profile-button {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 3%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 45px;
  background-color: $accent;
  color: black;
  letter-spacing: 2px;
  opacity: 1;
  transition: 0.3s;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.edit-profile-button:hover {
  opacity: 0.5;
  color: black;
}

.edit-profile-button:focus {
  outline: none;
}

.edit-profile-form {
  display: flex;
  z-index: 0;
  background-color: white;
  opacity: 0.9;
  height: 80vh;
  width: 30%;
  height: 70%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  .edit-profile-form {
    height: 75%;
    width: 75%;
  }
  .edit-profile-button {
    left: 30%;
    top: 15%;
  }
}

.edit-profile-submit-button {
  // border: 1px solid blue;
  background-color: $accent;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 45px;
  margin-top: 10px;
  position: relative;
  font-family: $font;
  font-size: 14px;
}

.edit-profile-submit-button:hover {
  opacity: 0.5;
}

.edit-profile-button:hover {
  opacity: 0.8;
}

.edit-profile-submit-button:focus {
  outline: none;
}

form {
  font-family: "Quicksand", sans-serif;
}
