@import "../../variables.scss";

.entire-profile-page {
  font-family: "Quicksand", sans-serif;
}

.profile-picture-pp-div {
  //   border: 1px solid red;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.profile-picture-pp {
  border-radius: 10px;
}

.profile-account-name {
  // border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  margin-bottom: 40px;
}

.all-profile-info {
  //   border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 18px;
}

.profile-left-side {
  //   border: 1px solid blue;
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-right-side {
  //   border: 1px solid blue;
  width: 30%;
  align-items: center;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.button-div {
  // border: 1px solid red;
  display: flex;
  border: 1px solid red;
  width: 100%;
}

.edit-profile-button {
  position: absolute;
  top: 20%;
  left: 3%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 45px;
  background-color: $accent;
  color: black;
  letter-spacing: 2px;
  opacity: 1;
  transition: 0.3s;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.edit-profile-button:hover {
  opacity: 0.5;
  color: black;
}

.edit-profile-button:focus {
  outline: none;
}

.edit-profile-form {
  display: flex;
  background-color: white;
  height: 80vh;
  width: 30%;
  height: 70%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  font-family: "Quicksand", sans-serif;
}
