@import "../../variables.scss";

a {
  text-decoration: none;
  color: black;
}

.hero-under {
  border-bottom: 1px solid $accent;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: $font;
}

.under1 {
  width: 100%;
  height: 100vh;
  opacity: 0.9;
}

.hero-under-right {
  // border: $border-test-blue;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.under-right {
  // border: 1px solid orangered;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3%;
}

.discover-content {
  // border: 2px solid greenyellow;
  width: 100%;
  height: 75%;
  display: flex;
}

.under-icons {
  // border: 2px solid greenyellow;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-under-right {
  width: 100%;
  height: 90vh;
}

.discover-icon-div {
  // border: 1px solid red;
  display: flex;
  width: 65%;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  font-size: 24px;
  margin-bottom: 7%;
}

.discover-image {
  width: 6vw;
  height: 9vh;
  margin-right: 5%;
}

.img-div {
  // border: 1px solid red;
  margin-right: 5%;
  margin-top: 2%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.contact-image {
  width: 6vw;
  height: 9vh;
  margin-right: 10%;
}
.pay-image {
  width: 6vw;
  height: 9vh;
  margin-right: 8%;
}
.discover-image {
  width: 6vw;
  height: 9vh;
  margin-right: 8%;
}

.discover-content {
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-header {
  font-size: 28px;
}

.discover-blurb {
  font-size: 16px;
  margin-top: 3%;
  text-align: center;
}

.under-header {
  // border: 1px solid orangered;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.under-find {
  border: 2px solid green;
}

@media only screen and (max-width: 800px) {
  .home-right {
    display: none;
  }

  .home-left {
    // border: 1px solid red;
    height: 90vh;
    width: 100%;
    display: flex;
  }
}

.hero-button-1 {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  width: 90%;
  border-radius: 45px;
  background-color: $accent;
  color: black;
  font-size: 17px;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 35px;
  padding-left: 35px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 28px;
  opacity: 1;
  transition: 0.3s;
}

.hero-button-1:hover {
  opacity: 0.5;
  color: black;
}

.hero-button-1:focus {
  outline: none;
}

button {
  outline: none;
}
