// global variables
$accent: #37fdfc;
$text-hover: 0.6;
$nav-font-size: 18px;
$font: "Quicksand", sans-serif;

// tests
$border-test-red: 3px solid red;
$border-test-blue: 1px solid blue;
$border-test-green: 1px solid green;
